.background {
  background: #1D0634; /* fallback for old browsers */
  background: -webkit-linear-gradient(10deg, #1D0634, #5F5FB5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(10deg, #1D0634, #5F5FB5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo {
  background-image: url(logo.png);
}

.progressBar {
  background-color: rgb(84, 221, 239);
}

.splash {
  background-image: url(splash.png);
}

.watermark {
  background-image: url(watermark.png);
  background-size: 57px 57px;
}